<%= form_with(model: transaction, local: true) do |form| %>
    <% if transaction.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

        <ul>
          <% transaction.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      <%= form.label :count %>
      <%= form.number_field :count, class:"form-control"%>
    </div>
  <br />
    <% if transaction.new_record?%>
      <div class="field form-group">
        <%= form.label 'Category'%>
        <%= form.select(:person_category_id, options_for_select(PersonCategory.where(person_id: @people).order(:person_id).map { |pc| [pc.select_title, pc.id]}), {}, {required: true, class: "form-control"}) %>
      </div>
      <br />
      <div class="field form-group">
        <%= form.label 'Note' %>
        <%= form.text_field :body, class: "form-control", placeholder: "write your text ..." %>
      </div>
    <% else %>
      <% unless transaction.note %>
          <div class="field form-group">
            <%=   form.label 'Note'   %>
            <%= form.text_field :body, class: "form-control" %>
          </div>
      <%   end %>
      <div class="field form-group">
        <%= form.hidden_field :person_category_id %>
      </div>
    <% end%>

  <br />
  <div class="field form-group">
    <%= form.label 'Is it important?'%>
    <%= form.select(:important, [ ['Yes', true], ['No', false]], {}, {required: true, class: "form-control"}) %>
  </div>

    <br />
    <div class="actions">
      <%= form.submit class:'btn btn-secondary' %>
    </div>
<% end %>
