<br />
<div class="container">
  <h1>Transactions</h1>
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Count</th>
        <th>Category</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.count %></td>
          <td><%= transaction.person_category.category.title %></td>
          <td><%= link_to 'Show', transaction %></td>
          <td><%= link_to 'Edit', edit_money_transaction_path(transaction) %></td>
          <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%#= link_to 'New MoneyTransaction', new_transaction_path %>
</div>