<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">
      <%= @transaction.count %>
    </h1>
    <p class="lead">
      <%= @transaction.person_category.category.title %>
    </p>
    <br/>
    <%= link_to 'Edit', edit_money_transaction_path(@transaction), class:"btn btn-secondary" %> |
    <%= link_to 'Delete', @transaction, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %> |
    <%= link_to 'Back', money_transactions_path, class:"btn btn-dark" %>
  </div>
</div>