<% if user_signed_in? %>
  <br />
  <div class="container">
  <h1>People</h1>
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Created at</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @people.each do |person| %>
      <% if person.user == current_user %>
        <tr>
          <td><%= link_to person.first_name + ' ' + person.last_name, person %></td>
          <td><%= person.description %></td>
          <td><%= person.created_at %></td>

            <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>

        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Person', new_person_path, class:"btn btn-secondary" %>
</div>

<% else %>
  <div class="card bg-dark text-white text-center">
    <img src="https://www.polsov.com/upload/014/u1405/b/d/a86b4cd5.jpg" class="card-img" alt="index images">
    <div class="card-img-overlay">
      <h5 class="card-title">Welcome to the Best Finance Apps to Manage Bills and Debts!</h5>
      <p class="card-text">The main benefit of capital is not to make more money, but to make money for the sake of improving life.</p>
      <p class="card-text">For use it, sign in or sign up</p>
    </div>
  </div>
<% end %>