<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">
      <%= @person.first_name %>
      <%= @person.last_name %>
    </h1>
    <p class="lead">
      <%= @person.description %>  |
      <%= @person.created_at %>
    </p>
    <br/>

    <%= link_to 'Edit', edit_person_path(@person), class:"btn btn-secondary" %> |

    <% if (@person.person_id) > 1 %>
      <%= link_to 'Delete', @person, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %> |
    <% end %>

    <%= link_to 'Back', people_path, class:"btn btn-dark" %>
  </div>
</div>