<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_field :title, class:"form-control", placeholder:"Type" %>
  </div>
  <br />
  <div class="field form-group">
    <%= form.text_field :count, class:"form-control", placeholder:"Count" %>
  </div>

  <div class="field form-group">
    <%= form.number_field :user_id, id: :category_user_id, class:"form-control", value: current_user.id, type: "hidden" %>
  </div>

  <br />
  <div class="actions">
    <%= form.submit class:'btn btn-secondary' %>
  </div>
<% end %>
